.description {
  box-sizing: border-box;
  margin-right: 5px;
  height: 64px;
  width: 64px;
  font-family: arial, sans-serif;
}

.temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  font: size 16px;
}

form {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: -110px;
}

ul {
  list-style: none;
}
.city {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-left: -100px;
}

.info {
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.info-cloudy {
  color: #878787;
  margin-left: -150px;
}

.float-left {
  margin-left: -300px;
}

.container {
  max-width: 550px;

  width: 100%;
  padding: 20px 16px 24px;
  margin-right: auto;
  margin-left: auto;
}
